@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
  // @include Asmall{
  //   background-color: aqua;
  // }
  // @include smallTablet{
  //   background-color: coral;
  // }
  // @include tabletLaptop{
  //   background-color: cornflowerblue;
  // }
  // @include laptopDesktop{
  //   background-color: darksalmon;
  // }
  // @include desktopFull{
  //   background-color: greenyellow;
  // }
  // @include full{
  //   background-color: lightseagreen;
  // }

    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    border-bottom: 3px solid $colorPrimario;
    background-color: white;
    @include tabletLaptop(){
        grid-template-columns: $margenContenido auto 55%;
    }
    .contLogo{
        text-align: left;
        padding: 10px 0;
        @include Asmall{
          text-align: center;
        }
        @include smallTablet{
          text-align: center;
        }
        @include tabletLaptop(){
            text-align: left;
        }
        @include laptopDesktop{
          text-align: left;
        }

        img{
          width: 105px;
            @include desktopFull{
              width: 110px;
            }
            @include full{
              width: 120px;

            }
        }
    }
}
