<div class="contenedor">
    <div class="encabezadoPaso">
        <p class="izquierda">Calcula tu cuota</p>
        <p class="derecha">* Información requerida</p>
    </div>
    <hr>

    <form [formGroup]="primero">

        <div id="segundo" class="contCampoDos"> 
        
        <div>
        <mat-label>¿Cuál es el precio del vehiculo?</mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input 
            currencyMask
            type="tel"
            matInput
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }" 
            formControlName="precio"
            >
            <mat-error *ngIf="precioNoValido">Debes diligenciar mínimo $ {{ const.precioMinimo | number:'1.0':'es'}}</mat-error>
        </mat-form-field>
        </div>

        <div>
        <mat-label>Modelo del carro</mat-label>
        <mat-form-field id="dobleInput" class="full-width" appearance="outline">
            <mat-label>Modelo del carro</mat-label>
            <select 
                matNativeControl
                formControlName="modelo"
                [errorStateMatcher]="matcher"
            >
                <option 
                *ngFor="let obj of const.modelos" 
                [ngValue]="obj.value" 
                [disabled]="obj.value == 0"
                required
                >
                {{obj.name}}</option>
            </select>                
            <mat-error *ngIf="tipoIdNoValido">Elige una opción</mat-error>
        </mat-form-field>
        </div>

        </div>

        <mat-label>Cuota inicial <b>({{ porcentaje | number: '1.0-2':'es' }}%)</b></mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input 
            currencyMask
            type="tel"
            matInput
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }" 
            formControlName="cuotaInicial"
            >
        </mat-form-field>

        <mat-label>¿Cuánto dinero necesitas financiar?</mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input 
            currencyMask
            type="tel"
            matInput
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }" 
            formControlName="monto"
            >
            <mat-error *ngIf="montoNoValido">Debes diligenciar mínimo $ {{const.minimo | number:'1.0':'es'}}</mat-error>        </mat-form-field>

        <mat-label>¿A cuántos meses quieres pagar?</mat-label>
        <div class="radiogrupo">
            <span class="radio" *ngFor="let periodo of const.periodos">
                <input 
                type="radio" 
                name="periodo" 
                [value]="periodo.name" 
                formControlName="periodo"
                >
                <div class="mes">{{periodo.name}} meses</div>
            </span>
        </div>

        <div *ngIf="primero.value.cuota !== 0" [@animationFadeOut]="primero.value.cuota">
            <mat-label>Este será el valor aproximado de la cuota mensual</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input 
                currencyMask
                type="tel"
                matInput
                [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }" 
                formControlName="cuota"
                readonly
                >
                <mat-error *ngIf="montoNoValido">Debes diligenciar mínimo $ {{const.minimo | number:'1.0':'es'}}</mat-error>
            </mat-form-field>
        </div>

        <hr>
        <div class="contBotonPaso">
        <div class="piepaso">
            <button 
            mat-button
            color="primary"
            class="btnPrimario" 
            [disabled]="primero.invalid || cuotaInicialNoValido"
            (click)="consultaCentrales.primeroCompleto = true" 
            matStepperNext>CONTINUAR <mat-icon>arrow_right_icon</mat-icon></button>
        </div>
        </div>
    </form>
</div>
