@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.section-modal {
  width: 100%;
  font-family: Roboto;
  text-align: center;
}

.TituloModal{
  padding-bottom: 20px;
  text-align: center;
}

.contLogo{
  text-align: center;
  padding: 10px 0;
  @include tabletLaptop(){
      text-align: left;
  }
  img{
      width: 15%;
     // height: "50px";
      @include tabletLaptop(){
          width: 15%;
      }
  }
  .Titulo{
    font-family: Fira Sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    justify-self: center;
    font-weight: 800;
    text-align: center;
  }
}

.Button{
  background-color: rgba(236, 0, 0, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0 16px;
  line-height: 36px;
  text-align: center !important;
  @include Asmall() {
    width: 80%;
    height: 11vh;
    font-size: 14px;
  }
}
