@import '../scss/variables';
@import '../scss/mixins';

.contenedor{
    grid-row: 1;
    grid-column: 1;
    background-image: url(../assets/img/fondo_Vehiculo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    @include Asmall(){
        background-image: none;
    }
}

.superContenedor{
    display: grid;
    grid-template-rows: 1;
    .splash{
        grid-row: 1;
        grid-column: 1;
        background-color: $colorPrimario;
        height: 100vh;
        z-index: 2;
        display: grid;
        img{
            align-self: center;
            justify-self: center
        }
    }
}