@import './../../../scss/variables';
@import './../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-rows: 1fr;
    app-modal-tyc{
        grid-column: 1;
        grid-row: 1;
        background-color: transparent;
        z-index: 1;
    }
    form{
        grid-column: 1;
        grid-row: 1;
    }
}

div#check {
    font-size: 10px;
    text-align: center;
    margin: 20px 0;
    strong{
        text-decoration: underline;
    }
}

.advertencia{
    font-size: 9px;
    color:rgb(138, 0, 0);
}

.contCampoDos{

    @include tabletLaptop(){
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 5px;
    }
}

.santanderFinancing{
      display: grid;
      grid-template-columns: 25% 65%;
      text-align: justify;
      grid-column-gap: 20px;

      .centro{
        text-align: center;
        align-items: center;
        width: 130px;
      }
      p{
          @include tabletLaptop(){
          font-size: 10px;
          }
      }
}


.contBotonPaso{
  @include smallTablet{
    position: absolute;
    left: 50%;
  }

}
