<section class="section-modal">
  <div *ngIf="dataModRespuesta.tipoModal === 'Generico'" class="modal-Generico">
    <div class="encabezado">
      <!-- <div class="logoSantanderRojo">
      <img class="logoSantander" [src]="const.santanderFinancingRojo" alt=""></div> -->
      <div class="titulo"><h1>{{dataModRespuesta.Titulo}}</h1></div>
    </div>
    <div class="body">{{dataModRespuesta.Mensaje}}</div><br>
    <div class="contBotonPaso">
      <div class="BtonAccion" *ngIf="dataModRespuesta.sendWhatsapp" >
        <button mat-button color="primary" (click)="ConectarWhatsapp()">Chatea con tu asesor</button>
      </div>
      <div class="BtonAccion" *ngIf="dataModRespuesta.sentEmail" >
        <button mat-button color="primary" (click)="procesarFormulario()">Diligenciar Formulario</button>
      </div>
      <div class="BtnSalir">
        <button mat-button color="primary" id="finalizar" (click)="ProcesarSalir()" class="piepaso">Salir</button>
      </div>
    </div>
  </div>
  <div *ngIf="dataModRespuesta.tipoModal === 'FormularioPreAprobado'" class="modal-preaprobado">
    <div class="contLogo">
        <img class="logoSantander" [src]="const.santanderFinancingRojo" alt="">
      <div class="Titulo">"Falta poco" Ingresa tus datos para finalizar</div>
    </div>
    <form [formGroup]="formulario_Empleado">
      <br>
      <div id="contenedorDividido" class="DatosNacimiento">
        <div class="form-group"><!--Fecha Nacimiento-->
          <mat-form-field>
            <input matInput
            [matDatepicker]="FechaNacimento"
            [max]="maxDate"  [min]="MinDate"
            placeholder="Fecha nacimiento"
            formControlName="Fecha_Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="FechaNacimento"></mat-datepicker-toggle>
            <mat-datepicker #FechaNacimento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group"><!--Lugar Nacimiento-->
          <mat-form-field class="Direccion">
            <input
            matInput
            (keypress)="patternCoincide($event, const.patternLetter)"
            type = "text"
            placeholder="Lugar nacimiento"
            formControlName="Lugar_Nacimiento">
          </mat-form-field>
        </div>
      </div>
      <div id ="contenedorDividido" class="DatosDocumento">
        <div class="form-group"><!--Fecha Expedicion Cedula-->
          <mat-form-field>
            <input matInput
            [matDatepicker]="FechaExpedicionDocumento"
            [max]="maxDate"
            [min]="MinDate"
            placeholder="Fecha expedición documento"
            formControlName="Fecha_Expedicion_Documento">
            <mat-datepicker-toggle matSuffix [for]="FechaExpedicionDocumento"></mat-datepicker-toggle>
            <mat-datepicker #FechaExpedicionDocumento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group"><!--Lugar Expedicion DOcumento-->
          <mat-form-field>
            <input
            matInput
            (keypress)="patternCoincide($event, const.patternLetter)"
            type = "text"
            placeholder="Lugar expedición documento"
            formControlName="Lugar_Expedicion_Documento">
          </mat-form-field>
        </div>
      </div>
      <div id ="contenedorDividido" class="DatosPersonales">
        <div class="form-group"><!--Estado Civil-->
          <mat-form-field>
            <mat-select
            class="Sel-Estado-Civil"
            placeholder="Estado civil"
            formControlName="Estado_Civil">
              <mat-option *ngFor="let DataEstrato of const.EstadoCivil" [value]="DataEstrato.value">
                {{DataEstrato.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group"><!--Numero Personas a cargo-->
          <mat-form-field >
            <input
            class="Sel-Personas-Cargo"
            type="number"
            min="0"
            matInput placeholder="N° personas a cargo"
            formControlName="Numero_Personas_Cargo">
        </mat-form-field>
        </div>
        <div class="form-group"><!--Estrato-->
          <mat-form-field>
            <mat-select
            placeholder="Estrato"
            formControlName="Estrato">
              <mat-option *ngFor="let DataEstrato of const.Estratos" [value]="DataEstrato.value">
                {{DataEstrato.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div id ="contenedorDividido" class="DatosDomicilio">
     <div class="form-group"><!--Direccion-->
        <mat-form-field class="Dirección">
          <input matInput placeholder="Dirección" formControlName="Direccion">
        </mat-form-field>
      </div>
      <div class="form-group"><!--Barrio-->
        <mat-form-field class="Barrio">
          <input matInput placeholder="Barrio" formControlName="Barrio">
        </mat-form-field>
      </div>
      </div>
      <div id ="contenedorDividido" class="DatosCiudad">
        <div class="form-group"><!--Ciudad-->
          <mat-form-field class="Ciudad">
            <input
            matInput
            (keypress)="patternCoincide($event, const.patternLetter)"
            type = "text"
            placeholder="Ciudad"
            formControlName="Ciudad">
          </mat-form-field>
        </div>
        <div class="form-group"><!--Tipo Vivienda-->
          <mat-form-field>
            <mat-select
            placeholder="Tipo de vivienda"
            formControlName="Tipo_Vivienda">
              <mat-option *ngFor="let DataEstrato of const.TipoVivienda" [value]="DataEstrato.value">
                {{DataEstrato.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!Independiente" >
        <div id ="contenedorDividido" class="DatosLaboralesEmpleado">
          <div class="form-group"><!--Tiempo Laborado Empresa-->
            <mat-form-field>
              <input
              matInput
              placeholder="Tiempo laborado"
              formControlName="Tiempo_Laborado_Empresa">
            </mat-form-field>
          </div>
          <div class="form-group"><!--Cargo-->
            <mat-form-field class="Cargo">
              <input
              matInput
              placeholder="Cargo"
              formControlName="Cargo">
            </mat-form-field>
          </div>
          <div class="form-group"><!--Tipo De Contrato-->
            <mat-form-field>
              <mat-select
              placeholder="Tipo de contrato"
              formControlName="Tipo_Contrato">
                <mat-option *ngFor="let DataEstrato of const.TipoContrato" [value]="DataEstrato.value">
                  {{DataEstrato.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="Independiente">
        <div id ="contenedorDividido" class="DatosLaboralesIndependiente">
          <div class="form-group"><!--Tiempo Actividad Independiente-->
            <mat-form-field>
                <input
                matInput
                placeholder="Tiempo laborado"
                formControlName="Tiempo_Actividad_Independinente">
            </mat-form-field>
          </div>
          <div class="form-group"><!--Tipo De Actividad Comercial-->
            <mat-form-field>
              <mat-select
              placeholder="Tipo actividad"
              formControlName="Tipo_Actividad_Independiente">
                <mat-option *ngFor="let DataEstrato of const.TipoActividadComercial" [value]="DataEstrato.value">
                  {{DataEstrato.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div id="contenedorDividido" class="InformacionFinanciara">
        <div class="form-group"><!--Activos-->
          <mat-form-field>
            <input
            currencyMask
            matInput
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }"
            (keypress)="patternCoincide($event, const.patternNumber)"
            placeholder="Ingresa tus activos"
            formControlName="Activos">
          </mat-form-field>
        </div>
        <div class="form-group"><!--Pasivos-->
          <mat-form-field>
            <input
            matInput
            currencyMask
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }"
            (keypress)="patternCoincide($event, const.patternNumber)"
            placeholder="Ingresa tus pasivos"
            formControlName="Pasivos">
          </mat-form-field>
        </div>
        <div class="form-group"><!--Egresos-->
          <mat-form-field>
            <input
            matInput
            currencyMask
            [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }"
            (keypress)="patternCoincide($event, const.patternNumber)"
            placeholder="Ingresa tus egresos"
            formControlName="Egresos">
          </mat-form-field>
        </div>
      </div>
      <div id="contenedorDividido" class="InformacionReferenciaPersonal">
        <div class="form-group"><!--Nombre Referencia-->
          <mat-form-field>
            <input
            matInput
            (keypress)="patternCoincide($event, const.patternLetter)"
            type = "text"
            placeholder="Nombre referencia personal"
            formControlName="Nombre_Referencia_1_P">
          </mat-form-field>
        </div>
        <div class="form-group"><!--Celular Referencia-->
          <mat-form-field>
            <input
            matInput
            type="tel"
            maxlength="10"
            (keypress)="patternCoincide($event, const.patternNumber)"
            placeholder="Telefono referencia personal"
            formControlName="Contacto_Referencia_1_P">
          </mat-form-field>
        </div>
      </div>
      <div id="contenedorDividido" class="InformacionReferenciaFamiliar">
        <div class="form-group"><!--Nombre Referencia Familiar-->
          <mat-form-field>
            <input
            matInput
            (keypress)="patternCoincide($event, const.patternLetter)"
            type = "text"
            placeholder="Nombre referencia familiar"
            formControlName="Nombre_Referencia_1_F">
          </mat-form-field>
        </div>
        <div class="form-group"><!--Celular Referencia-->
          <mat-form-field>
            <input
            matInput
            type="tel"
            maxlength="10"
            (keypress)="patternCoincide($event, const.patternNumber)"
            placeholder="Telefono referencia familiar"
            formControlName="Contacto_Referencia_1_F">
          </mat-form-field>
        </div>
      </div>
      <hr>
      <hr>
        <div class="contBotonPaso">
          <div class="BtonAccionFormulario">
            <button mat-button (click)="ProcesarAvisoDocumentos()"
              color="primary" type="button" [disabled]="formulario_Empleado.status === 'INVALID'" class="btnPrimario">
              Enviar
            </button>
          </div>
          <div class="BtnSalirFormulario">
            <button mat-button color="primary" id="finalizar" (click)="ProcesarSalir()" class="piepaso">Salir</button>
          </div>
        </div>

    </form>
  </div>
</section>
