<section class="section-modal">
  <div class="form" id="formInfo" *ngIf="tipoModal=='modalInfo'">
    <div class="encabezado">
      <div class="titulo">
        <h1 id="titulConfirmarSalir"> {{dataInfo.titulo}} </h1>
      </div>
    </div>
    <div class="body">
      <div class="body1">{{dataInfo.mensaje}}</div><br>
      <div class="body2" *ngIf="dataInfo.tipoModalDocumentos">{{dataInfo.mensaje2}}</div>
    </div>
    <div class="contBotonPaso">
      <div class="BtonAccion" *ngIf="dataInfo.tipoModalSalir">
        <button mat-button color="primary" [mat-dialog-close]="true">Salir</button>
      </div>
      <div class="BtnMantener" *ngIf="dataInfo.tipoModalSalir">
        <button mat-button color="primary" (click)="Mantener()">Mantener</button>
      </div>
      <div class="BtonConfirmacion" *ngIf="dataInfo.tipoModalDocumentos">
        <button mat-button color="primary" [mat-dialog-close]="true">Aceptar</button>
      </div>
    </div>
  </div>
  <div class="form" id="formtyc" *ngIf="tipoModal=='terminosCoondiciones'">
    <div id="contenedorTitulo">
      <div class="titulotyc" id="titulo1">
        <h1 id="titultyc">TÉRMINOS Y CONDICIONES</h1>
        <h1 id="titultyc">PROGRAMA SANTANDER DE VENTA DE VEHÍCULOS USADOS - (COMPRADOR)</h1>
      </div>
    </div>
    <div id="contenedorModal">
      <div class="parafo">
        <p>Es requisito indispensable que el solicitante, entendido este como cualquier persona natural o jurídica que
          acceda al presente Portal y desee iniciar una solicitud para estudio de viabilidad de financiación de vehículo
          automotor con Santander Consumer S.A.S (En adelante “Santander”), entienda y acepte de manera expresa,
          voluntaria e irrevocable los términos y condiciones que a continuación se indican: El presente Portal es solo
          un canal para recopilar información personal del solicitante, con la finalidad de poder realizar el estudio
          crediticio del mismo para la determinación de la aprobación o no del crédito. El otorgamiento de los planes de
          financiación anunciados, así como las tasas ofrecidas, están sujetas al cumplimiento de las políticas de
          crédito
          de las entidades financieras aliadas de Santander y al perfil crediticio del solicitante. Si el solicitante no
          está de acuerdo con estos Términos y Condiciones, o si el usuario es menor de 18 años no deberá hacer uso de
          este portal.</p><br>

        <p>El titular de la información incorporada en el mismo (el “Titular”) autoriza a Santander a consultar,
          reportar
          y compartir información para: a) Realizar consultas, solicitudes y reportes de toda la información de
          comportamiento crediticio ante cualquiera de los operadores de información financiera. para obtener
          información
          sobre relaciones comerciales del Titular con otras entidades y consultar sus reportes ante las centrales de
          información; para ello se autoriza de manera expresa, previa e irrevocable a Santander a realizar ante
          cualquier
          operador de centrales de información, (Cifín o Datacrédito), cualquier operación o tratamiento efectuado sobre
          la información y los datos entregados, tanto de la empresa, como de sus representantes o directivos,
          incluyendo
          la consulta, solicitud, suministro, reporte, procesamiento y divulgación de toda la información relacionada
          con
          el comportamiento crediticio del Titular, el origen de las obligaciones a su cargo, cualquier novedad,
          modificación, extinción, cumplimiento o incumplimiento de obligaciones. b) En su condición de Responsable o
          Encargado del Tratamiento del manejo de datos personales que puede llegar a tener Santander, el Titular
          autoriza
          para efectos de la Ley Estatutaria de Protección de Datos Personales (Ley 1581 de 2012) o de la norma que la
          reemplace o sustituya, en concordancia con la Ley Estatutaria 1266 de 2008, por la cual se dictaron
          disposiciones generales del hábeas data y se reguló el manejo de información contenida en bases de datos
          personales a: (i) Recolectar, obtener, compilar, ofrecer, vender, intercambiar, enviar, divulgar, modificar,
          emplear, almacenar, procesar, transferir a cualquier título, y, en general, administrar información
          proveniente
          del Titular de los datos o sus legítimos representantes; de autoridades públicas u organismos de control; y en
          general cualquier información a la que haya tenido acceso o haya sido suministrada legalmente a Santander ;
          (ii)
          Santander, debidamente autorizado por el Titular, podrá suministrar la información que reposa en sus bases de
          datos a las siguientes personas: a los titulares, a las personas debidamente autorizadas y a los
          causahabientes
          del o Los titulares; a cualquier autoridad judicial o administrativa u órgano de control, previa orden
          judicial
          o administrativa; y, en general a las demás personas autorizadas por la ley ; (iii) Para efectos de soportes
          operativos, de procesamiento de información o tecnológicos, Santander queda expresamente autorizado, para
          compartir la información con empresas dedicadas a labores de “outsourcing” o prestación de servicios soportes
          para entidades financieras, dentro o fuera de Colombia, autorizando el Titular la divulgación, suministro y
          cesión de la información, para cuyo efectos Santander podrá recolectar, obtener, compilar, ofrecer, vender,
          intercambiar, enviar, divulgar, modificar, emplear, almacenar, procesar, transferir a cualquier título y, en
          general, hacer todo lo que implica la administración de información para terceros, dentro o fuera de Colombia.
          Cuando se haga entrega o cesión de información a otros países se realizará con observancia de la normatividad
          aplicable; y; c) Las anteriores autorizaciones se extienden a los causahabientes de Santander en el evento de
          cesión o traspaso que haga este último, especialmente si se vende, cede o traspasa la cartera Santander.; d) )
          Con la finalidad de ser ofrecidos al Titular productos o servicios, o para realizar gestiones comerciales y de
          mercadeo, se autoriza a compartir la información a entidades pertenecientes/ vinculadas al Grupo Santander,
          así
          como a terceros. Para todos los fines anteriores, autorizo el uso y contacto a través de e-mail, correo
          postal,
          teléfono, celular, SMS, WhatsApp, redes sociales o medios similares; Entiendo y acepto que Santander tenga
          publicadas sus políticas de recolección, uso, y administración de la información personal en la página
          www.santanderconsumer.co El o los titulares de la información personal podrán informar a Santander que en
          desarrollo de los pagos efectuados de aportes al Sistema de Protección Social, en desarrollo de la
          autoliquidación y pagos o de la liquidación por parte de un eventual empleador, han entregado su información
          personal al diligenciar la Planilla Integrada de Liquidación de Aportes -PILA- información relacionada con los
          ingresos mensuales base de cotización, pagos a través del PILA y otros datos financieros. e) Análisis de
          riesgos
          financieros, para ofrecimiento de productos financieros; Se reconoce y acepta que los datos objeto de
          tratamiento, pueden llegar a quedar alojados fuera de Colombia, en virtud de contratos o procesamiento de tal
          información, caso en el cual Santander entregará información bajo la existencia de un contrato y a
          responsables
          ubicados en países con un nivel de protección de datos similar o superior al existente en Colombia. Se deja
          expresa constancia que la presente autorización puede ser revocada por el usuario y titular de la información
          personal, en la medida que se cumplan los requisitos legales para tal revocatoria. (f) Autorizo que los
          reportes
          negativos que Santander realice a cualquier operador de base de datos e información financiera, crediticia,
          comercial, o servicios provenientes de terceros países pueden generarle consecuencias negativas al crédito y
          demás servicios financieros. El solicitante ha sido informado al derecho que le asiste de solicitar
          rectificación y actualización de la información cuando esta no corresponde con la realidad crediticia, sin que
          tal derecho implique la revocatoria a las autorizaciones que confiere a Santander; (g) Autoriza suministrar
          toda
          la información consultada y almacenada por Santander a todas las entidades pertenecientes o vinculadas al
          Grupo
          Santander, así como a terceros.</p><br>

        <p>Entiendo y acepto que Santander Consumer tenga publicadas sus políticas de recolección, uso, y administración
          de la información personal en la página a www.santanderconsumer.co.</p><br>
      </div>

      <div class="titulotyc" id="titulo2">
        <h1 id="titultyc">PROGRAMA SANTANDER DE VENTA DE VEHÍCULOS USADOS</h1>
      </div><br>

      <div class="parafo">
        <p>El Programa Santander de vehículos usados, es un programa creado para dar mayor visibilidad de vehículos
          automotores a posibles compradores que cuentan o contarán con un financiamiento por parte de alguna de las
          Entidades Financieras aliadas a Santander, este programa es completamente gratuito para las partes, siendo
          estas
          comprador, vendedor y Santander. Con la autorización previa del vendedor, Santander podrá remitir información
          del vendedor y del vehículo al o los posibles compradores, con la finalidad de brindar mayor información y
          cumplir con el objetivo del programa Santander.</p><br>

        <p>Santander se reserva el derecho a aprobar o rechazar la vinculación de un vendedor de vehículo automotor al
          Programa Santander.</p><br>
        <p>
          En ningún momento Santander estará actuando por cuenta y obra de ninguna de las partes, vendedor o comprador.
          Así mismo, no se constituye ningún tipo de relación contractual por el programa.
        </p><br>

        <p>
          Santander, no actúa como intermediario y no recibe ni recibirá ningún tipo de remuneración por las actividades
          que se desarrollen dentro del programa de cara al comprador y vendedor.
        </p><br>

        <p>
          Santander no será responsable por los productos y servicios que ofrezcan sus aliados dentro del programa. Por
          otro lado, Santander no tendrá ninguna relación o responsabilidad por el eventual negocio de compraventa que
          llegaren a celebrar comprador y vendedor, por lo tanto, no podrá ser vinculado a controversias contractuales o
          procesos judiciales o administrativos relacionados con los negocios de compraventa de vehículos usados.
        </p><br>
      </div>
    </div>
    <div id="contenedorBoton">
      <div class="piepaso">
        <button
            color="primary"
            class="btnPrimario"
            mat-button
            (click)="salirViabilizacion()"
        >Aceptar
      </button>
      </div>

    </div>
  </div>
</section>
