@import '../../../../scss/variables';
@import '../../../../scss/mixins';

*{
  border-radius: 15px;
}
.section-modal {
  width: 100%;
  font-family: Roboto;
  text-align: center;
  grid-template-rows: auto;
  font-size: 14px;

  .titulo {
    padding-bottom: 22px;
    text-align: center;
  }

  .body{
    text-align: justify;
    font-size: 13px;
  }

  .contBotonPaso{
    display: grid;
    grid-template-columns: 90%;
    padding: 1px 0 16px;
    line-height: 36px;
    text-align: center !important;
    @include Asmall() {
      display: block;
      width: 80%;
      height: 11vh;
      font-size: 12px;
    }
    @include smallTablet{
      grid-template-columns: 48% auto 1%;
    }
    @include tabletLaptop(){
      grid-template-columns: 48% auto 1%;
    }
    .BtonAccion{
      font-size: 10px !important;
      width: 110% !important;
      text-align: center;
      align-items: center;
      @include Asmall{
        position: relative;
        top: 10px;
        left: 20px;
      }
      @include smallTablet{

      }
      @include tabletLaptop{

      }
      @include laptopDesktop{

      }
      @include desktopFull{

      }
      @include full{

      }

    }

    .BtnMantener{
      font-size: 10px !important;
      width: 110% !important;
      text-align: center;
      align-items: center;
      @include Asmall{
        position: relative;
        top: 20px;
        left: 20px;
      }
      @include smallTablet{
      }

    }

    .BtonConfirmacion{
      font-size: 10px !important;
      width: 110% !important;
      position: relative;
      top: 20px;
      left: 155px;
      @include Asmall{
        top: 10px;
        left: 20px;
      }
    }

    .acctions-button {
      padding-top: -10%;
      button {
        background-color: rgba(236, 0, 0, 1);
        border-radius: 50px;
        color: rgba(255, 255, 255, 1);
        margin: 0 10px;
        padding: 0 66px;
        @include Asmall() {
          width: 80%;
          height: 11vh;
          font-size: 14px;
        }
        &:disabled {
          background-color: rgb(255, 96, 96);
        }
      }
    }
  }
}

#formtyc{
  background-color: #DDEDF2;
}

#titultyc{
font-family: sans-serif;
font-size: 15px;
color: #ec0000;
}

#contenedorTitulo{
background-color:  #DDEDF2;
height: 65px;
}

#contenedorModal{
background-color: #DDEDF2;
overflow-y: scroll !important;
height: 430px;
p{
  text-align: justify;
}
}

#contenedorBoton{
  background-color: #DDEDF2;
  height: 50px;
  padding: 10px 3% -1px;
  }

#titulConfirmarSalir{
  font-family: Fira Sans;
  font-size: 21px;
  color: #000000;
}

.parafo{
  padding: 20px 1% 0px;
}
