<section class="section-modal">
    <div class="encabezado">
      <!-- <img [src]="const.cliente" alt=""> -->
      <div class="titulo"> <h1> {{dataInfo.titulo}}  </h1>
        </div>
    </div>
    <div class="body">{{dataInfo.mensaje}}</div><br>
    <div class="body">{{dataInfo.mensaje2}}</div><br>
    <div class="contBotonPaso">
      <div class="BtonAccion" *ngIf="dataInfo.tipoModalSalir" >
        <button mat-button color="primary" [mat-dialog-close]="true">Salir</button>
      </div>
      <div class="BtnMantener" *ngIf="dataInfo.tipoModalSalir">
        <button mat-button color="primary" (click)="Mantener()">Mantener</button>
      </div>
      <div class="BtonConfirmacion" *ngIf="dataInfo.tipoModalDocumentos" >
        <button mat-button color="primary" [mat-dialog-close]="true">Aceptar</button>
      </div>
      </div>

  </section>
