@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.section-modal {
  width: 100%;
  font-family: Roboto;
  text-align: center;

  .titulo {
    padding-bottom: 22px;
    text-align: center;
  }

  .texto-condiciones {
    letter-spacing: -1px;

    li {
      padding-bottom: 6px;
    }
  }


  .contLogo{
    text-align: center;
    padding: 10px 0;
    @include tabletLaptop(){
        text-align: left;
    }
    img{
        width: 15%;
       // height: "50px";
        @include tabletLaptop(){
            width: 15%;
        }
    }
    .Titulo{
      font-family: Fira Sans;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      transition: all 0.5s;
      justify-self: center;
      font-weight: 800;
      text-align: center;
    }
}
  .text-content {
    font-size: 16px;
    color: #1b1b1b;
    opacity: 1;
    .section-form {
      padding: 20px 0;
      width: 100%;
      .mat-form-field {
        width: 100%;
      }
    }
  }

  .DatosNacimiento{
    @include tabletLaptop(){
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
  }
  .DatosDocumento{
    @include tabletLaptop(){
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
  }
  .DatosPersonales{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(3 , auto);
      //grid-template-rows: 1fr;
      grid-template-rows: 15fr;
      //grid-column-gap: 5px;
      grid-column-gap: -25px;
      }
  }
  .DatosDomicilio{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
    }
  }
  .DatosCiudad{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(2 , auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
      }
  }
  .DatosLaboralesEmpleado{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
    }
  }
  .DatosLaboralesIndependiente{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
    }
  }
  .InformacionFinanciara{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
    }
  }
  .InformacionReferenciaPersonal{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(2 , auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
      }
  }
  .InformacionReferenciaFamiliar{
    @include tabletLaptop(){
      display: grid;
      grid-template-columns: repeat(2 , auto);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
      }
  }
  .acctions-button {
    padding-top: -10%;
    button {
      background-color: rgba(236, 0, 0, 1);
      border-radius: 50px;
      color: rgba(255, 255, 255, 1);
      margin: 0 10px;
      padding: 0 66px;
      @include Asmall() {
        width: 80%;
        height: 11vh;
        font-size: 14px;
      }
      &:disabled {
        background-color: rgb(255, 96, 96);
      }
    }
  }
  // ::placeholder {
  //   font-size:medium;
  // }
  .form-group{
    font-size: small;
  }
}
